* {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

body {
    padding: 0;
    margin: 0;

}

.container {
    width: 1440px;
    margin: 0 auto;

}

.header {
    padding: 29px 0 0 134px;
    background-color: #FFFBF3;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 135px;
}

.photo {
    display: flex;
    justify-content: space-between;
    margin: 88px 0 0 0;
    position: relative;
    height: 630px;
}

.banner-info {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.food {
    color: #FCC647;
    font-size: 32px;
    font-weight: bold;

}

.tammy {
    color: #3C3C3C;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.tammy::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #FCC647;
}

.tammy:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.main-anchors {
    color: #3C3C3C;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.main-anchors::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #FCC647;
}

.main-anchors:hover {
    color: #FCC647;
}

.main-anchors:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

a {
    text-decoration: unset;
}

.information {
    font-weight: bold;
    display: flex;
    gap: 82px;
    justify-content: center;
    align-items: center;
}

.discover {
    color: #3C3C3C;
    font-size: 48px;
    font-weight: bold;
    margin: 18px 0 0 0;
    width: 573px;
    line-height: 63px;
}

.testForever {
    color: #FFC12F;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.lorem {
    color: #667085;
    font-size: 16px;
    font-weight: 400;
    width: 507px;
    line-height: 35px;
}


.button {
    border-radius: 10px;
    background-color: #FFF2D4;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding: 9px 12px;
    margin-top: 43px;
}

.button > span {
    color: #F4B41B;
}


.getStarted {
    background-color: #FFC12F;
    width: 146px;
    height: 52px;
    border-radius: 35px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more {
    color: #3C3C3C;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-information {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.photo1 {
    z-index: 1;
    position: absolute;
    top: 25px;
    right: 103px;

}

.photo2 {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;

}

.position-photo {
    position: relative;
    flex: 50%;
    padding: 20px 0;
}

.button-information {
    display: flex;
    gap: 10px;
}

.circle {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 20px rgba(199, 199, 199, 0.25));
    transition: width 1s cubic-bezier(0, 0, 1, 1) 500ms;
}

.circle:hover {
    background-color: #3C3C3C;
    width: 230px;
}

.more:hover {
    color: #F4B41B;
}

.img3 {
    width: 24px;
}

.photo3 {
    position: absolute;
    bottom: 100px;
    left: 42%;
}

.photo4 {
    position: absolute;
    top: 0;
    left: 41%;
}

.photo5 {
    position: absolute;
    bottom: 32%;
    left: 37%;
}

.photo6 {
    position: absolute;
    bottom: 36%;
    left: 33%;
    width: 53px;

}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.describe {
    color: #3C3C3C;
    font-size: 36px;
    font-weight: 700;
    margin: 100px 0 0 0;
}

.lorem-2 {
    color: #667085;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 23px;
    width: 505px;
    line-height: 27px;
    padding-right: 19px;
}

@keyframes revealImage {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

.about-us-line-1 {
    position: absolute;
    top: 65px;
    left: 403px;
    overflow: hidden;
    width: 200px;
}

.about-us-line-1 img {
    display: block;
    width: 200px;
}

.overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: white;
    /* You can adjust the color as needed */
    animation: revealImage 5s ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.about-us-line-2 {
    position: absolute;
    top: 13px;
    right: 420px;
    overflow: hidden;
    width: 200px;
}

.about-us-line-2 img {
    display: block;
    width: 200px;
}

.overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: white;
    /* You can adjust the color as needed */
    animation: revealImage 5s ease-in-out;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.circle-base {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-1 {
    background-color: #335DFF;
}

.icons-1 {
    width: 42px;
}

.circle-2 {
    background-color: #F6CA00;
}

.icons-2 {
    width: 55px;
}

.circle-3 {
    background-color: #0BD28E;
}

.icons-3 {
    width: 39px;
}

.about-us-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 83px;
    margin-top: 71px;
    position: relative;
}

.about-us-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-block:nth-child(4) {
    margin-top: 44px;
}

.about-us-block-title {
    color: #3C3C3C;
    font-weight: 600;
    margin-top: 43px;
}

.lorem-3 {
    color: #667085;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    width: 321px;
    margin-top: 1px;
}

.menu-main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-dish {
    color: #3C3C3C;
    font-size: 36px;
    font-weight: 700;
    margin: 78px 0 0 0;
}

.lorem-menu {
    color: #667085;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    width: 465px;
    line-height: 27px;
    padding-left: 2px;
    margin-top: 9px;
}

.dish {
    width: 130px;
}

.dish-title {
    color: #3C3C3C;
    font-size: 18px;
    font-weight: 700;
    margin: 6px 0 0 0;
    padding-right: 97px
}

.dish-describe {
    color: #667085;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 0;
}

.dish-price {
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.menu-block {
    border-radius: 10px;
    border: 0.7px solid rgba(112, 112, 112, 0.20);
    width: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
}

.menu-block:hover {
    border: 1px solid #F9A755;
}

.stars {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 19px;
}

.menu-parent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 45px;
    column-gap: 25px;
}

.menu-icons {
    height: 29px;
}

.button-shop {
    border: none;
    background-color: #FFF;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
}

.button-shop:hover {
    transform: rotate(360deg);
}

.pagination {
    margin-top: 88px;
    margin-bottom: 30px;
}

.pagination-list {
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin: 0;
}

.page-item {
    border-radius: 50%;
    border: 1px solid #EAECED;
    width: 40px;
    height: 40px;
}

.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link-text {
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.page-item:hover {
    background-color: #FEB918;

}

.page-item:hover a {
    color: #FFFFFF;
}

.page-item:hover a svg path {
    stroke: #FFFFFF;
}

.target {
    padding-right: 110px;
    margin-top: 82px;
}

.fast-delivery {
    background: #FFFBF3;
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
}

.button-target {
    border-radius: 6px;
    background: #FFEFC8;
    width: 90px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    color: #EF9737;
    padding: 10px;
}


.trust-diligent {
    color: #535353;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 565px;
    margin-top: 17px;
    margin-bottom: 0;
}

.main-text-delivery {
    color: #667085;
    margin-top: 36px;
    margin-bottom: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 537px;
}

.button-order {
    border-radius: 8px;
    background: #FCC647;
    width: 104px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    padding: 16px 8px;
    margin-top: 50px;
    margin-bottom: 107px;
    display: block;
}

.elips {
    position: absolute;
    left: 67%;
}

.man {
    position: absolute;
    left: 33%;
    bottom: 28%;
}

.man-delivery {
    position: relative;
    width: 40%;
}

.path-1 {
    position: absolute;
    left: 32%;
    top: 23%;
}

.path-2 {
    position: absolute;
    top: 23%;
    left: 23%;
}

.path-3 {
    position: absolute;
    top: 27%;
    left: 30%;
}

.path-4 {
    position: absolute;
    top: 26%;
    left: 26%;
}

.path-5 {
    position: absolute;
    top: 25%;
    left: 25%;
}

.path-6 {
    position: absolute;
    top: 28%;
    left: 23%;
}

.text-path {
    position: absolute;
    top: 24%;
    left: 36%;
    z-index: 1;
}

.white-path-1 {
    position: absolute;
    top: 24%;
    left: 31%;
}

.white-path-2 {
    position: absolute;
    top: 26%;
    left: 33%;
}

.white-path-3 {
    position: absolute;
    left: 33%;
    top: 28%;
}

.download-app {
    margin-top: 244px;
    padding-left: 137px;
    margin-bottom: 95px;
}

.discount-app {
    color: #3C3C3C;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: "Segoe UI";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 418px;
    margin: 0;

}

.describe-app {
    color: #667085;
    width: 501px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 30px;
    margin-bottom: 0;
}

.app {
    display: flex;
    justify-content: space-between;
    margin-bottom: 411px
}


.phone {
    position: relative;
    width: 40%;
}

.circle-phone {
    position: absolute;
    top: 20%;
    right: 23%;
}

.slice-phone {
    position: absolute;
    z-index: 1;
    top: 31%;
    right: 53%;
}

.circle-element-1 {
    position: absolute;
    top: 43%;
    right: 41%;
    z-index: 1;
}

.circle-element-2 {
    position: absolute;
    z-index: 1;
    top: 91%;
    right: 100%;
}

.circle-element-3 {
    position: absolute;
    z-index: 1;
    top: 58%;
    right: 102%;
}

.circle-element-4 {
    position: absolute;
    z-index: 1;
    top: 84%;
    right: 34%;
}

.circle-circle {
    position: absolute;
    top: 24%;
    right: 27%;
    z-index: 1;
}

.footer {
    background-color: #232233;
    position: relative;
}

.main-footer {
    display: flex;
    padding-top: 226px;
}

.tammy-food-link {
    padding-left: 137px;
}

.tammy-footer {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    display: inline-block;
}

.food-footer {
    color: #FCC647;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.describe-footer {
    color: #FFF;
    width: 331px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
    padding: 0;
    margin-bottom: 0;
}

.quick-link {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0px;
}

.link-type {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.link-about-us {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;;
}

.link-menu {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.link-blog {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px
}

.link-contact {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.link {
    padding-left: 114px;
    margin-top: 1px;
}

.letter-link {
    padding-left: 209px;
    margin-top: 2px;
}

.letter {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.5px;
    text-transform: uppercase;
    margin-top: 9px;
    margin-bottom: 0;
}

.describe-letter {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 315px;
    margin-top: 10px;
    margin-bottom: 0;
}

input {
    padding: 12px 38px 12px 10px;
    margin-top: 33px;
    border-radius: 4px;
    width: 100%;
}

input::placeholder {
    color: #6C6C72;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 144px;
    padding-left: 15px;
}

.base-plane {
    border-radius: 4px;
    background: #FEB918;
    width: 52px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 68%;
    right: 9.8%;
}


hr {
    display: block;
    background: #FFF;
    width: 1167px;
    margin-top: 51px;
    margin-bottom: 0;
}

.copy{
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 14px;
}

.copyright {
    color: #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 7px;
}

.footer-end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 3px;
    padding: 0;
}

.link-icons {
    margin-top: 22px;

}

.program-icons {
    display: inline-block;
    border-right: 1px solid #FFF;
    padding: 0px 26px;
    height: 24px;
    width: 24px;
}

.program-icons:nth-child(1) {
    padding-left: 0;
}

.program-icons:last-child {
    border-right: none;
}

.programs:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.3);
    color: #FCC647;
}


.email {
    background-color: #FFF;
    border-radius: 30px;
    width: 1170px;
    height: 230px;
    position: absolute;
    bottom: 81%;
    left: 9%;
    box-shadow: 5px 5px 50px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.7s;
}

.email:hover {
    transform: translateY(-20px);
}

.elips-base-email-1 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 9%;
    background-color: #FEB918;
}

.elips-base-email-2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 59%;
    background-color: #FEB918;
}


.mail-icons-1 {
    width: 45px;
}

.mail-icons-2 {
    width: 42px;
}


.text-mail {
    color: #232233;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px; /* 133.929% */
    text-transform: lowercase;
    padding-left: 221px;
}

.text-phone {
    padding-right: 94px;
}

.line-mail {
    position: absolute;
    left: 51%;
}


.text-phone {
    color: #232233;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px;
}

#myBtn {
    width: 48px;
    line-height: 48px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fbfbfb;
    color: #333;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.18);
}

#myBtn:hover {
    background-color: #FCC647;
    color: #fff;
}